form input {
  margin-bottom: 18px;
  width: 70%;
}

@media (max-width: 550px) {
  form input {
    margin-bottom: 18px;
    width: 100%;
  }

  .input-wrapper {
    flex-direction: column;
    gap: 0;
  }
}

.heading {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  color: #e7e7e7;
}

label {
  margin-bottom: 12px;
}

.input-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

input,
select {
  background-color: #000610;
  border: solid 1px #213356;
  height: 48px;
  border-radius: 8px;
  color: #e7e7e7;
  padding: 12px;
}

.filter-div {
  display: flex;
  justify-content: space-between;
}

p {
  color: #e7e7e7;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.primary-btn {
  width: 200px;
  margin-top: 12px;
  border-radius: 8px;
  border: 0;
  background-color: #102348;
  color: #fff;
  font-weight: 500;
}
